<!DOCTYPE html>
<html >
<head>
	
	<script src="lib/angular-1.5.0/angular.js"></script>
	<script src="lib/angular-1.5.0/angular-animate.js"></script>
	<script src="lib/angular-1.5.0/angular-route.min.js"></script>
  <script src="lib/angular-1.5.0/angular-aria.js"></script>
	<script src="lib/angular-1.5.0/angular-sanitize.js"></script>
	<script src="lib/angular-material/angular-material.min.js"></script>
	<script src="lib/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
	<script src="lib/jquery.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" >
	<link rel="stylesheet" href="lib/angular-material/angular-material.css">
	<link rel="stylesheet" href="css/starter-template.css">
	<link rel="stylesheet" href="lib/angular-ui-notification/dist/angular-ui-notification.min.css">

  <script type="text/javascript" src="appYaml.js"></script>
	<script type="text/javascript" src="conf.js"></script>
	<script type="text/javascript" src="services/services.js"></script>
  <script type="text/javascript" src="controllers/mainCtrl.js"></script>
  <script type="text/javascript" src="controllers/signInCtrl.js"></script>
  <script type="text/javascript" src="controllers/viewCtrl.js"></script>
  <script type="text/javascript" src="controllers/editCtrl.js"></script>
	
	<title ng-controller="mainCtrl as vm">test</title>
</head>
	<body ng-app="myApp" ng-controller="SignInCtrl as vm">
		


	<nav class="navbar navbar-default " >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >{{serviceName}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active" ng-click="vm.clearCurrent()"><a href="" >Home</a></li>
            <li class="" ><!-- ng-click="vm.clearCurrent()" -->
            <md-button class="md-raised" ng-click="vm.openSidebar()" ng-show="vm.showMoreOptions()">More Options</md-button ></li>
           </ul>
          <ul class="nav navbar-nav navbar-right" ng-if="!signedIn">
            <li><a href="#signin" ng-if="!signedIn"><strong>Sign in</strong> to get full content</a> </li> 
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-if="signedIn">
            <li><button ng-click="vm.signOut()" type="button" class= "btn btn-danger navbar-btn">Sign Out</button></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


	<div class="container">
	<div ng-view></div>
	</div>



	</body>
</html>