<nav class="navbar navbar-default navbar-fixed-top" >
<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >{{serviceName}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active" ng-click="vm.clearCurrent()"><a href="" >Home</a></li>
           <!--  <li class="" >
            <md-button class="md-raised" ng-click="vm.openSidebar()" ng-show="vm.showMoreOptions()">More Options</md-button ></li> -->
           </ul>
          <ul class="nav navbar-nav navbar-right" ng-if="!signedIn">
            <li><a href="#signin" ng-if="!signedIn"><strong>Sign in</strong> to get full content</a> </li> 
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-if="signedIn">
            <li><button ng-click="vm.signOut()" type="button" class= "btn btn-danger navbar-btn">Sign Out</button></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>